<div class="row">
  <div class="span12">
		<h1>管理者ログイン</h1>
		<hr />
		<form class="form-inline" method="post">
			<input type="text" name="login[id]" placeholder="ID"/>
			<input type="password" name="login[password]" placeholder="password"/>
			<input class="btn btn-primary" type="submit" name="login-button" value="ログイン" />
		</form>
	</div>
</div>
