<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title>Don't forget me!!! / Edit</title>
		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/shape.css" rel="stylesheet">
		<!-- /CSS -->
		<!-- JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/ejs.js"></script>
		<script type="text/javascript" src="js/dfm.js"></script>
		<!-- /JS -->
		<!--[if lt IE 9]>
				<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
	</head>
	<body id="edit">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Don't forget me!!!</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">Top</a></li>
							<li class="active"><a href="/edit">Edit</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="main-container" style="width: 1346px; margin: 100px auto">
			<div class="row">
				<!-- LEFT -->
				<div id="side-left" class="span3" style="border: 1px solid black; height: 732px;">
				</div>
				<!-- /LEFT -->
				<!-- MAIN -->
				<div id="main" class="span10" style="border: 1px solid black;">
					<!-- FRAME-LIST -->
					<div id="frame-container" style="display: block; margin: 10px; padding: 5px; height: 130px; border: 1px solid black; overflow-x: scroll; white-space: nowrap;">
						<!-- FRAME.EJS -->
					</div>
					<!-- /FRAME-LIST -->
					<!-- PHOTO -->
					<form method="post" id="form" action="/create" style="margin: 0;">
						<div id="photo-container" style="display: block; margin: 10px; padding: 9px; border: 1px solid black;">
							<div id="photo-nav" style="display: block; border: 1px solid black; position: relative;">
								<div id="photo-nav-inner" style="padding: 5px; position: relative;">
									<ul class="breadcrumb">
										<li class="active"><a href="#">アルバム</a></li>
									</ul>
								</div>
							</div>
							<div id="photo-select-wrapper" style="min-height: 780px; display: block; border: 1px solid black; position: relative;">
								<div id="photo-select-inner" style="padding: 10px 39px; position: relative;">
									<div id="item-container">
									</div>
								</div>
							</div>
							<div class="photo-wrapper" style="min-height: 540px; display: block; border: 1px solid black; position: relative;">
								<!-- PHOTO.EJS -->
								<div id="absence-container">
									<!-- ABSENCE.EJS -->
								</div>
							</div>
						</div>
					</form>
					<!-- /PHOTO -->
				</div>
				<!-- /MAIN -->
				<!-- RIGHT -->
				<div id="side-right" class="span4" style="border: 1px solid black; height: 732px;">
					<div id="friend-container" style="display: block; margin: 10px; padding: 5px; height: 700px; border: 1px solid black; overflow-y: scroll;">
						<!-- FRIEND.EJS -->
					</div>
				</div>
				<!-- /RIGHT -->
				<button type="button" class="btn" onclick="$('#form').submit();">送信</button>
			</div>
		</div>
	</body>
</html>
