<div class="row" style="padding: 40px 0">
	<!-- LEFT 
	<div id="side-left" class="span3" style="border: 1px solid black; height: 732px;">
	</div>
	/LEFT -->
	<!-- MAIN -->
	<div id="main" class="span10" style="width: 750px;">
		<!-- FRAME-LIST
		<div id="frame-container" style="display: block; margin: 10px; padding: 5px; height: 130px; border: 1px solid black; overflow-x: scroll; white-space: nowrap;">
		</div>
		/FRAME-LIST -->
		<!-- PHOTO -->
		<div id="photo-container">
			<div id="photo-nav">
				<div id="photo-nav-inner" class="clearfix">
					<div class="pull-right">
						<button id="return-button" type="button" class="btn" onclick="showAlbums(); return false;" disabled="disabled"><i class="icon-arrow-left"></i> 戻る</button>
						<button id="create-button" type="button" class="btn btn-primary" onclick="createPhoto(); return false;" disabled="disabled"><i class="icon-ok icon-white"></i> 作成する</button>
					</div>
					<div>
						<h4 id="navi-message">アルバムを選択</h4>
					</div>
				</div>
			</div>
			<div id="photo-select-wrapper">
				<div id="photo-select-inner">
					<div id="album-item-container">
						<div class="upload-wrapper item">
							<div style="background: whiteSmoke; width: 200px; height: 50px; position: relative; text-align: center; padding: 75px 0;">
									<button id="upload-button" class="btn" onClick="uploadPhoto();">写真をアップロードする</button>
									<p>JPG/PNG/GIF, 10MBまで</p>
							</div>
						</div>
					</div>
					<div id="photo-item-container" style="display: none;">
					</div>
					<img id="loading-albums" src="img/loading.gif" style="display: none; margin: 20px auto;">
					<img id="loading-photos" src="img/loading.gif" style="display: none; margin: 20px auto;">
					<div id="load-next-button-wrapper">
						<button id="load-next-albums-button" class="btn" style="display:none; width: 100%;" onClick="getNextAlbums();">もっと読み込む</button>
						<button id="load-next-photos-button" class="btn" style="display:none; width: 100%;" onClick="getNextPhotos();">もっと読み込む</button>
						<input id="albums-offset" value="0" type="hidden">
					</div>
				</div>
			</div>
			<div id="photo-wrapper" style="display: none;">
				<img id="loading-photo" src="img/loading.gif" style="display: none; margin: 20px auto;">
				<!-- PHOTO.EJS -->
			</div>
		</div>
		<!-- /PHOTO -->
	</div>
	<!-- /MAIN -->
	<!-- RIGHT -->
	<div id="side-right" class="span3" style="width: 185px; margin-left: 5px;">
		<div id="friend-list-container">
			<div id="friend-list-nav">
				<div id="friend-list-nav-inner">
					<h4>友達リスト</h4>
				</div>
			</div>
			<div id="friend-item-container-wrapper">
				<img id="loading-friends" src="img/loading.gif" style="display: none; margin: 5px auto;"/>
				<div id="sorting-friends" class="alert alert-info" style="display: none;"><strong>並べ替え中…</strong></div>
				<div id="friend-item-container">
					<!-- FRIEND.EJS -->
				</div>
			</div>
		</div>
	</div>
	<!-- /RIGHT -->
</div>
<div id="modal-container">
</div>
<script type="text/javascript">(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=<%= app_key %>";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
