<div class="row">
	<div class="span12">	
		<h2>ご利用有り難うございました！</h2>
		<p>Don't forget me!!! は開発途中のプロジェクトです。<br />
			感想や要望などがありましたら<a href="https://www.facebook.com/pages/Dont-forget-me/326547014117433" target="_blank" class="text-info"><strong>Facebookページ</strong></a>もしくは<a href="http://twitter.com/#!/ackyla" target="_blank" class="text-info"><strong>@ackyla</strong></a>へお願いします。<br /></p>
		<p><a href="edit">&lt;&lt;&nbsp;作成画面に戻る</a></p>
		<div class="clearfix">
			<div class="social-button fb">
				<div class="fb-like" data-href="http://don.t-forget.me" data-send="false" data-layout="box_count" data-show-faces="true" data-font="arial"></div>
			</div>
			<div class="social-button">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://don.t-forget.me" data-lang="ja" data-hashtags="dfm" data-count="vertical"></a>
			</div>
			<div class="social-button gp">
				<div class="g-plusone" data-size="tall" data-href="http://don.t-forget.me"></div>
			</div>
			<div class="social-button hb">
				<a href="http://b.hatena.ne.jp/entry/http://don.t-forget.me" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=<%= @app_key %>";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">window.___gcfg = {lang: 'ja'};(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
