<h2>ご利用有り難うございました！</h2>
<p>Don't forget me!!! は開発途中のプロジェクトです。<br />
感想や要望などがありましたら<a href="https://www.facebook.com/pages/Dont-forget-me/326547014117433" target="_blank" class="text-info"><strong>Facebookページ</strong></a>もしくは<a href="http://twitter.com/#!/ackyla" target="_blank" class="text-info"><strong>@ackyla</strong></a>へお願いします。<br /></p>
<p><a href="edit">&lt;&lt;&nbsp;作成画面に戻る</a></p>
