<div class="row">
	<div class="span9" style="height: 520px; text-align: center;">
		<img id="cover-image" src="img/title_cover_01.png" class="" alt=""/>
	</div>
	<div class="span7" style="height: 520px;">
		<div class="" style="margin-top: 70px;">
			<img src="img/dfm_logo.png" class="" alt="" />
			<!-- banana_ad テキスト内包タグのidプロパティを設定 -->
			<div id="banana_text_xEbS"><h2 id="cover-text" class="cover-01" style="font-family: serif;">よく見たらあの人が写っていない、<br>そんなときに。</h2></div>
			<p class="lead" style="font-family: serif; padding-left: 6px;">Facebookと連携して簡単集合写真作成</p>
		</div>
		<div class="" style="text-align: center;">
			<!-- banana_ad クリック対象タグのclassプロパティに banana_click_xEbS を追加 -->
			<!-- banana_ad リンク対象タグのclassプロパティに banana_link_xEbS を追加 -->
			<a class="btn btn-large btn-primary banana_link_xEbS banana_click_xEbS" href="edit"><h3>集合写真を作成する</h3></a>
		</div>
	</div>
</div>
<div class="container">
	<div class="clearfix">
		<div class="social-button fb">
			<div class="fb-like" data-href="http://don.t-forget.me" data-send="false" data-layout="box_count" data-show-faces="true" data-font="arial"></div>
		</div>
		<div class="social-button">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://don.t-forget.me" data-lang="ja" data-hashtags="dfm" data-count="vertical"></a>
		</div>
		<div class="social-button gp">
			<div class="g-plusone" data-size="tall" data-href="http://don.t-forget.me"></div>
		</div>
		<div class="social-button hb">
			<a href="http://b.hatena.ne.jp/entry/http://don.t-forget.me" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
		</div>
	</div>
	<h1 class="text-info">Don't forget me!!!とは</h1>
	<blockquote>
		<h3>楽しそうな集合写真、そのとき欠席者は…</h3>
		<p>あの日は外せない用事があったんだ…。Facebookのフィードに流れてくる楽しそうな集合写真を見て枕を濡らした人は多いはずです。<br />
			そこで<strong class="text-warning">KO☆I☆TSU</strong>の出番！あなたの写真に卒業アルバムでよく見る<strong class="text-error">あれ</strong>を張り付けることができます。<br />
			これで欠席者も<strong class="text-success">ニッコリ</strong>、あたかもその場にいたかのような粋な演出を図ることができます。
		</p>
	</blockquote>
	<div class="row" style="text-align: center;">
		<img src="img/intro_01.png" alt="" style="margin-bottom: 10px;"/>
	</div>
	<blockquote>
		<h3>Facebookと連携して簡単作成</h3>
		<p>集合写真と欠席者の顔写真は<strong class="text-info">Facebook</strong>から持ってくるので、自分で素材を用意する必要はありません。			プロフィール写真にしちゃう程のお気に入りが張ってあれば欠席者も文句は言えないはず。<br />
			友達の繋がりを使ってそこに写っていそうな人を優先的に表示するので、誰がいなかったのか<strong class="text-warning">ウッカリ忘れてしまっても安心</strong>です。
		</p>
	</blockquote>
	<div class="row" style="text-align: center;">
		<img src="img/intro_02.png" alt="" style="margin-bottom: 10px;"/>
	</div>
	<blockquote>
		<h3>さぁ、今すぐ欠席者に救いの手を！！！</h3>
		<p>Facebookアカウントをお持ちの方なら<strong class="text-info">すぐに集合写真を作成</strong>できます。<br />
			写真が投稿された瞬間から欠席者の心は<strong class="text-error">崩壊</strong>を始めています。もはや一刻の猶予もありません。<br />
			今すぐアルバムの中にある集合写真を取り出し、<strong class="text-warning">彼らを救い出しましょう！</strong>
		</p>
	</blockquote>
	<div class="well" style="text-align: center;">
		<a class="btn btn-large btn-primary" href="edit"><h3>集合写真を作成する</h3></a>
	</div>
</div>

<!-- banana_ad ページ下部にJavaScriptを設置 -->
<script src="http://call.banana-ad.com/user/4nDB/xEbS/banana_data.js?1359048900"></script>
<script src="https://call.banana-ad.com/js/monkey.js?1359048900"></script>
<script type="text/javascript" >monkey_js_text('xEbS', 'https://call.banana-ad.com/');</script>

<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=<%= @app_key %>";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">window.___gcfg = {lang: 'ja'};(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
