<div class="absence-wrapper" style="position: absolute; top: 5px; left: 5px;">
	<span class="absence-image-wrapper square" style="background: url(img/frame_picture.jpg) no-repeat center center; width: 90px; height: 120px; display: inline-block;" onclick="$(this).toggleClass('selected');">
		<img src="img/frame_picture.jpg" style="width: 100px; height: 120px; opacity: 0;" />
	</span>
	<div class="controll-wrapper" style="position: absolute;top: 0px;left: 0px;">
		<span style="font-size: 20px;font-weight: bold;background: whitesmoke;border-radius: 10px;width: 20px;height: 20px;position: absolute;text-align: center;line-height: 15px;">
			<a href="#" style="text-decoration: none;" onclick="$(this).closest('.absence-wrapper').remove(); return false;">×</a>
		</span>
	</div>
</div>
