<div data-id="<%= id %>" class="absence-wrapper" style="position: absolute; top: 5px; left: 5px;">
	<input class="position-x" type="hidden" value="5px" />
	<input class="position-y" type="hidden"  value="5px" />
	<img class="absence-image" src="" style="width: 100px; height: 120px; display: none;" />
	<img class="loading-absence-image" src="img/loading_absentee.gif" />
	<div class="controll-wrapper" style="position: absolute;top: 0px;right: 20px;">
		<span class="close-button" style="font-size: 20px;font-weight: bold;background: whitesmoke;border-radius: 10px;width: 20px;height: 20px;position: absolute;text-align: center;line-height: 15px; display: none;">
			<a href="#" style="text-decoration: none;">×</a>
		</span>
	</div>
</div>
