<div id="album-list-container">
	<ul class="album-list">
		<% for(var i=0; i < photos.length; i ++) { %>
		<li class="album-name">
			<span><%= photos[i]['name'] %></span>
			<% for(var j=0; j < photos[i]['photos'].length; j ++) { %>
			<div style="width: 100px; height: 100px; text-align: center; display: inline-block;">
				<div style="background: url(<%= photos[i]['photos'][j]['source'] %>) no-repeat center center; width: 100px; height: 100px; background-size: cover;" onclick="addPhoto($(this).attr('src'));"></div>
			</div>
      <% } %>
		</li>
		<% } %>
	</ul>
</div>
	
