<div data-id="<%= id %>" class="attendee-wrapper popover top" style="position: absolute; top: <%= y %>px; left: <%= x %>px; display: block; width: 43px; height: 42px;">
	<div class="arrow"></div>
	<div class="popover-content" style="padding: 5px;">
		<img class="attendee-image" src="<%= src %>" />
	</div>
	<div class="controll-wrapper" style="position: absolute;top: -15px;right: 5px;">
		<span class="close-button" style="font-size: 20px;font-weight: bold;background: whitesmoke;border-radius: 10px;width: 20px;height: 20px;position: absolute;text-align: center;line-height: 15px;">
			<a href="#" style="text-decoration: none;">×</a>
		</span>
	</div>
</div>
