<div class="frame-wrapper" style="display: inline-block; margin-right: 5px;">
	<span class="square" style="background: url(img/avatar.png) no-repeat center center; width: 90px; height: 120px; display: inline-block;">
		<img src="img/avatar.png" class="square" style="width: 100px; height: 130px; opacity: 0;">
	</span>
</div>
