<div class="friend-wrapper" style="margin-bottom: 5px; overflow-x: hidden; white-space: nowrap;">
	<img src="img/list_picture.jpg" style="width: 34px; height: 34px; margin-right: 5px;">
	<span>Akira Shirai</span>
</div>
