<% for(var i=0; i < friends.length; i ++) { %>
<div data-id="<%= friends[i]['id'] %>" data-closely="1000000" class="item friend-wrapper active">
	<a class="clearfix" href="#">
		<img class="pull-left profile-picture" src="<%= friends[i]['picture'] %>">
		<div class="name"><%= friends[i]['name'] %></div>
	</a>
</div>
<% } %>
