<div id="photo-inner" style="width: <%= width %>px; margin: 0 auto; position: relative; overflow: hidden;">
	<input type="hidden" name="photo" value="<%= source %>" />
	<img src="<%= source %>" class="photo" style="z-index: -1000;" />
	<div id="absence-container">
		<!-- ABSENCE.EJS -->
	</div>
</div>
